{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>

    <div class="wrapper">
        <span>UKPK-Test</span>
    </div>
{% endblock %}
