{% extends 'admin/base.html.twig' %}

{% block title %}Олимпиады{% endblock %}
{% block subtitle %}Редактирование{% endblock %}
{% block boxTitle %}Изменение олимпиады{% endblock %}

{% block boxBody %}
    {{ include('admin/olympic/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a class="btn btn-default" href="{{ path('admin_olympic_index') }}">Назад <i class="fa fa-undo"></i></a>

    {{ include('admin/olympic/_delete_form.html.twig') }}
{% endblock %}
