@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
body {
  font-family: 'Open Sans', sans-serif; }
  body a {
    text-decoration: none;
    color: grey; }
  body header section.contacts {
    background-color: #f5f5f5;
    color: #999999;
    padding: 8px; }
    body header section.contacts .contacts-wrapper {
      max-width: 1200px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 10px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    body header section.contacts .contacts-left ul.socials {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center; }
      body header section.contacts .contacts-left ul.socials li {
        margin: 5px 7px; }
        body header section.contacts .contacts-left ul.socials li a {
          font-size: 14px;
          color: #999999; }
    body header section.contacts .contacts-right ul.phones {
      display: flex;
      align-items: center; }
      body header section.contacts .contacts-right ul.phones li {
        display: flex;
        align-items: center;
        margin: 0 10px; }
        body header section.contacts .contacts-right ul.phones li a, body header section.contacts .contacts-right ul.phones li span {
          font-size: 13px;
          color: #005ea8;
          margin-left: 5px; }
        body header section.contacts .contacts-right ul.phones li span {
          color: grey; }
  body header section.logo .logo-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 10px; }
    body header section.logo .logo-wrapper .logo-content a {
      display: flex;
      align-items: center;
      max-width: 300px; }
      body header section.logo .logo-wrapper .logo-content a img {
        max-width: 100px; }
      body header section.logo .logo-wrapper .logo-content a span {
        font-weight: bold;
        color: #005ea8;
        margin-left: 10px; }

main.title section.main-title {
  min-height: 300px;
  background: rgba(255, 255, 255, 0.5) url("/assets/img/test-900x534.jpg") no-repeat center/cover;
  background-blend-mode: screen;
  display: flex;
  align-items: center;
  justify-content: center; }
  main.title section.main-title .main-title-wrapper {
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: #0098d6; }
    main.title section.main-title .main-title-wrapper h1 {
      font-size: 72px;
      line-height: 72px;
      margin-bottom: 20px;
      margin-top: 50px;
      font-weight: bold; }
    main.title section.main-title .main-title-wrapper h2 {
      font-size: 18pt; }
main.title section.olymps {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 10px 10px; }
  main.title section.olymps .olymp-title {
    font-size: 18px; }

header.title section.logo .logo-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 10px 10px; }
  header.title section.logo .logo-wrapper .logo-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%; }
    header.title section.logo .logo-wrapper .logo-content a img {
      max-width: 130px; }
    header.title section.logo .logo-wrapper .logo-content a span {
      font-weight: bold;
      color: #005ea8;
      margin-top: 10px;
      font-size: 23px;
      max-width: 500px;
      text-align: center; }

/*# sourceMappingURL=styles.css.map */
