#test-editor{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 40px;
  .questions{
    display: block;
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      padding: 5px;
      border-bottom:1px solid grey;
    }
    .options{

    }
  }
  div.tab[data-question-id]{
    .question-title{
      font-size: 20px;
      button{
        display: none;
      }
      &:hover{
        button{
          display: inline;
        }
      }
    }
  }
}
form{
  position: absolute;
}