#test-editor{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 40px;
  .questions{
    display: block;
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      padding: 5px;
      border-bottom:1px solid grey;
    }
    .options{

    }
  }
  div.tab[data-question-id]{
    .question-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .question-type{
        margin-left: 20px;
      }
      .question-title {
        font-size: 25px;

        button {
          display: none;
        }

        &:hover {
          button {
            display: inline;
          }
        }
      }

      .question-type {
        display: flex;
        align-items: center;

        span {
          margin: 10px;
        }
      }
    }
    .question-options{
      .question-options-head {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
      }
      .options{
        display: flex;
        flex-direction: column;
        label{
          display: flex;
          align-items: center;
          span{
            margin-left:5px;
          }
        }
      }
    }

  }
}
form[name="question_option_edit_correct"] > div{
  display: flex;
  button{
    margin-left: 10px;
    display: none;
  }
  &:hover button{
    display: block;
  }
}
#testEditorForm{
  position: absolute;
}