.content{
  background: #fff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
  .box-title{
    font-size: 15px;
    margin-bottom: 10px;
  }
  #editor{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 10px;
  }
}