<form method="post" action="{{ path('admin_test_delete', {'id': test.id,'tour':tour.id}) }}"
      onsubmit="return confirm('Вы действительно хотите удалить тест?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ test.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>
