{% extends 'admin/base.html.twig' %}

{% block title %}Тест{% endblock %}
{% block subtitle %}Редактирование{% endblock %}
{% block boxTitle %}Изменение теста{% endblock %}

{% block boxBody %}
    {{ include('admin/test/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a class="btn btn-default" href="{{ path('admin_test_index', {tour:test.tour.id}) }}">Назад <i class="fa fa-undo"></i></a>

    {{ include('admin/test/_delete_form.html.twig') }}
{% endblock %}
