{% extends 'base.html.twig' %}
{% block main_class %}title{% endblock %}
{% block header_class %}title{% endblock %}
{% block content %}
    <section class="main-title">
        <div class="main-title-wrapper">
            <h1>Портал для тестирования</h1>
            <h2>Портал для тестирования на базе Усть-Каменогорского высшего политехнического колледжа</h2>
        </div>
    </section>
    <section class="olymps">
        {% for olymp in olymps %}
            <div class="olymp">
                <div class="olymp-title">
                    {{ olymp.name }}
                </div>
                <div class="tour">
                    {% for i,tour in olymp.tours %}
                        {{ i+1 }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}