{% extends 'base.html.twig' %}
{% block main_class %}title{% endblock %}
{% block header_class %}title{% endblock %}
{% block content %}
    <section class="main-title">
        <div class="main-title-wrapper">
            <h1>Портал для тестирования</h1>
            <h2>Портал для тестирования на базе Усть-Каменогорского высшего политехнического колледжа</h2>
        </div>
    </section>
    <section class="olymps">
        <ul class="olymp-list">
            {% for olymp in olymps %}
                {% include 'olymp/__olymp.li.html.twig' with {olymp:olymp} %}
            {% endfor %}
        </ul>
         {% if count > olymps|length  %}
        <div class="all-olymps"><a href="{{ path('olymp_index') }}">Посмотреть список всех олимпиад</a></div>
         {% endif %}
    </section>
{% endblock %}