{% extends 'base.html.twig' %}
{% block main_class %}title{% endblock %}
{% block header_class %}title{% endblock %}
{% block content %}
    <section class="main-title">
        <div class="main-title-wrapper">
            <h1>Портал для тестирования</h1>
            <h2>Портал для тестирования на базе Усть-Каменогорского высшего политехнического колледжа</h2>
        </div>
    </section>
    <section class="olymps">
        {% for olymp in olymps %}
            <div class="olymp">
                <div class="olymp-title">
                    {{ olymp.name }}
                </div>
                <div class="tours">
                    <table>
                        <tr>
                            <th>Тур</th>
                            <th>Начало</th>
                            <th>Длительность</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        {% for i,tour in olymp.tours %}
                            <tr>
                                <td>{{ i+1 }}</td>
                                <td>{{ tour.startedAt|date('H:i:s Y-m-d') }}</td>
                                <td>{{ (date(tour.expiredAt).timestamp-date(tour.startedAt).timestamp) / 60 }} минут</td>
                                <td>{% if date() > tour.expiredAt %}
                                        Завершен
                                    {% elseif tour.expiredAt < date() and tour.startedAt > date() %}
                                    {% else %}
                                        Ожидает начала
                                    {% endif %}
                                </td>
                                <td><a href="#!" class="signup">Записаться</a></td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}