<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/title.css') }}">
</head>
<body>
<header>
    <section class="contacts">
        <div class="contacts-wrapper">
            <div class="contacts-left">
                <ul class="socials">
                    <li><a href="https://www.youtube.com/channel/UCTMyN8fEfQY7bzQc5_H8dLA"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li><a href="https://vk.com/ukptk"><i class="fa fa-vk"></i></a></li>
                </ul>
            </div>
            <div class="contacts-right">
                <ul class="phones">
                    <li>
                        <i class="fa fa-phone"></i>
                        <a href="tel:+7(7232)540-731">+7(7232)540-731</a>
                    </li>
                    <li>
                        <i class="fa fa-mobile"></i>
                        <a href="tel:+7(7232)540-603">+7(7232)540-603</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:ukptk@mail.ru">ukptk@mail.ru</a>
                    </li>
                    <li class="sp-contact-time">
                        <i class="fa fa-clock-o"></i>
                        <span>Пон - Субб 8:00 - 17:00</span>
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <section class="logo">
        <div class="logo-wrapper">
            <div class="logo-content">
                <img src="{{ asset('/assets/img/logo.png') }}" alt="">
                <a href="/">Усть-Каменогорский высший политехнический колледж</a>
            </div>
        </div>
    </section>
</header>
<main>

</main>
<footer>

</footer>
</body>
</html>