{% extends 'admin/base.html.twig' %}

{% block title %}Олимпиада{% endblock %}
{% block subtitle %}Добавление{% endblock %}
{% block boxTitle %}Создание новой олимпиады{% endblock %}

{% block boxBody %}


    {{ include('admin/olymp/_form.html.twig') }}

    <a class="btn btn-default" href="{{ path('admin_olymp_index') }}">Назад <i class="fa fa-undo"></i></a>
{% endblock %}
