{% extends 'base.html.twig' %}

{% block main_class %}wrapper olymp-list{% endblock %}
{% block content %}
<div class="olymps">
    <ul class="olymp-list">
        {% for olymp in olymps %}
            {% include 'olymp/__olymp.li.html.twig' with {olymp:olymp} %}
        {% endfor %}
    </ul>
    {% include "default/_pagination.html.twig" %}
</div>
{% endblock %}
