{% extends 'base.html.twig' %}

{% block main_class %}wrapper olympic-list{% endblock %}
{% block content %}
<div class="olympics">
    <ul class="olympic-list">
        {% for olympic in olympics %}
            {% include 'olympic/__olympic.li.html.twig' with {olympic:olympic} %}
        {% endfor %}
    </ul>
    {% include "default/_pagination.html.twig" %}
</div>
{% endblock %}
