{% extends 'base.html.twig' %}
{% block main_class %}
    signup-form wrapper
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Сохранить') }}</button>
    {{ form_end(form) }}

{% endblock %}


