{% extends 'admin/base.html.twig' %}

{% block title %}Изменение языка{% endblock %}
{% block boxTitle %}Язык{% endblock %}

{% block boxBody %}

    {{ include('admin/language/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a class="btn btn-default" href="{{ path('language_index') }}">Назад <i class="fa fa-undo"></i></a>

    {{ include('admin/language/_delete_form.html.twig') }}
{% endblock %}
