{% extends 'admin/base.html.twig' %}

{% block title %}Новый язык{% endblock %}
{% block boxTitle %}Добавить{% endblock %}

{% block boxBody %}

    {{ include('admin/language/_form.html.twig') }}

    <a class="btn btn-default" href="{{ path('language_index') }}">Назад <i class="fa fa-undo"></i></a>
{% endblock %}
