{% extends 'base.html.twig' %}

{% block page_title %}Личный кабинет{% endblock %}
{% block main_class %}user-cabinet{% endblock %}
{% block content %}
    <div class="cabinet">
        <div class="user-info">
            <div class="avatar">
                <img src="{{ asset('assets/img/no_img.jpg') }}" alt="">
            </div>
            <div class="mail">
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </div>
        </div>
        <div class="user-stat">
            <div class="statistics">

            </div>
            <div class="olymps">
                {% for test in user.userTests %}
                    {{ test.id }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
